main.contact {
  position: relative;
  min-height: 100vh;
  display: grid;
  align-items: end;
  justify-content: center;
  background: linear-gradient(120deg, #ff9800 0%, #ff5722 100%);
  overflow: hidden;
}

main.contact .contact-information {
  position: relative;
  background-color: #eaeaea;
  width: 75vw;
  height: 50vh;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
  color: #333;
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.1);
  justify-items: start;

}

main.contact .contact-information h2 {
  font-size: 2.2rem;
  margin-bottom: 25px;
  color: #ff5722;
  font-weight: bold;
  z-index: 5px;
}

main.contact .contact-information p {
  margin: 15px 0;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
  z-index: 5;
}

main.contact .contact-information a {
  color: #ff5722;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

main.contact .contact-information a:hover {
  color: #ff9800;
  border-bottom: 2px solid #ff9800;
}

.hacker-fox {
  position: absolute;
  right: 10%;
  top: -155px;
  width: 225px;
  height: 225px;
}